# Build artifacts
bin/
obj/

# VS / Rider / IDE
/.vs/
/.vscode/
/.idea/

# User-specific files
*.user
*.suo

# Ignore any configuration json files named appsettings.*
**/appsettings*.json
!**/appsettings.Template.json

# OS noise
.DS_Store
Thumbs.db

# AI
**/codex.debug.log
AI_README.md
